/**
 * @file
 * Views Styling
 */

@import "base"


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

.views-displays .secondary
  li
    float: none
    margin: 0 6px 0

  a:link,
  a:visited
    @include single-text-shadow(none)
    padding: 2px 7px 3px

  .open > a
    @include border-radius(7px 7px 0 0)
    &:hover
      color: #333

  .action-list li
    margin: 0
    &:first-child
      @include border-radius(0 7px 0 0)

    &:last-child
      @include border-radius(0 0 7px 7px)

/* Fellow list styles */
div.view-fellows
  div.views-row-odd
    background: #D4D4D5
    border-right: #425262 2px solid
    border-left: #425262 2px solid
    div.img
      float: left
      img
        border-right: #333333 2px solid
    div.content
      float: left
      text-align: left
      margin-left: 10px
      h2.name
        text-align: left
  div.views-row-even
    background: #425262
    color: #FFF
    border-right: #425262 2px solid
    border-left: #425262 2px solid
    border-top: #333333 2px solid
    border-bottom: #333333 2px solid
    div.img
      float: right
      img
        border-left: #333333 2px solid
    div.content
      float: right
      text-align: right
      margin-right: 10px
      h2.name
        text-align: right
  div.views-row-first
    border-top: #425262 2px solid
  div.views-row-last
    border-bottom: #425262 2px solid
div.fellow
  div.img
    overflow: hidden
    height: 165px
  div.content
    vertical-align: top
    h2.name
      display:block
      font-size: 18pt
      font-weight: bold
      padding-bottom: 8px
      padding-top: 5px

/* News view styles */
div.clear
  clear: both
  float: none
div.view-news
  div.views-row
    margin-top: 25px
div.views-row-first
  margin-top: 0px
div.news-item
  float: left
  +pretty-box
  div.header
    h2 a
      color: #FFF
      text-decoration: none
      font-size: 18pt
      position: relative
      bottom: 3px
      &:hover
        text-decoration: underline
  div.content
    float: left
    div.inner-content
      padding: 5px
      float: left
      div.news-image
        float: left
        img
          border: #425262 1px solid
          margin-right: 10px
      div.news-body
        p
          margin-left: 15px
  span.created-by
    float: left
    margin-top: 5px
  span.created-on
    float: right
    margin-top: 5px

