/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* CASTEM specific custom mixins */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000319}}
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  background: url("../images/containa.gif") repeat-y scroll center top #2b3642;
}

/* The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000331}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000334}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666666;
  color: white;
}

/* Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000348}}
#header {
  padding-right: 0px;
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000352}}
#masthead {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000356}}
#masthead-img {
  background: url(../images/trefnyBanner.jpg) no-repeat center top;
  height: 326px;
  margin: 0 auto;
  position: relative;
  width: 960px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000364}}
#mines-top-nav {
  background: url("../images/landing-top.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 84px;
  margin: 0 auto;
  overflow: hidden;
  padding: 15px 50px 0 60px;
  position: relative;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000374}}
#mines-top-nav a.logo {
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000377}}
#gh {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000379}}
#holder {
  margin: 0 auto;
  padding: 0;
  width: 1061px;
  z-index: 40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000384}}
#landingIMG {
  background-position: center 0;
  background-repeat: no-repeat;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000393}}
.landingH .logo, .homeskiH .logo {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000396}}
#mines-menu {
  display: inline;
  float: right;
  color: #425262;
  font-size: 11px;
  width: 400px;
  padding-right: 15px;
  padding-top: 5px;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003105}}
#mines-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 0 3px;
  display: inline;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003111}}
#mines-menu ul li {
  border-left: 1px solid #6b7b8b;
  display: inline;
  float: left;
  font-size: 10px;
  margin: 0;
  padding: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003119}}
#mines-menu ul li a {
  color: #6b7b8b !important;
  padding: 0;
  text-decoration: underline !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003124}}
#mines-menu ul .first {
  border: 0 none !important;
  padding-left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003128}}
#mines-menu a {
  color: #b03514;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003131}}
#mines-menu .no-border {
  border: 0 none !important;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003136}}
#mines-menu span {
  display: block;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003140}}
.search-text {
  border: 1px solid #6b7b8b;
  color: #6b7b8b;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin: -2px 5px 0 3px;
  padding: 1px 3px;
  width: 94px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003149}}
.search-button {
  background-color: #6b7b8b;
  border: 0 none;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin: -5px 0 0;
  padding: 1px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003159}}
#logo {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003164}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003168}}
#name-and-slogan {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003171}}
#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003176}}
#site-name a:link,
#site-name a:visited {
  color: black;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003182}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003187}}
#site-slogan {
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003191}}
.region-header {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003194}}
#header-navigation {
  z-index: 999;
  width: 100%;
  background-color: white;
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003200}}
#header-navigation div.region div.block {
  margin: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003204}}
ul#superfish-1 {
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003206}}
ul#superfish-1 li > ul {
  height: 40px;
}

/* Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003213}}
#main {
  margin: 0 auto;
  padding: 0;
}

/* Content
 */
/* Front Page Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003222}}
div.mission-statement {
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000367}}
div.mission-statement div.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  height: 35px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000371}}
div.mission-statement div.header h2, div.mission-statement div.header h3 {
  color: white;
  display: block;
  float: left;
  line-height: 1em;
  margin: 5px 0 0 3px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000378}}
div.mission-statement div.header h2 {
  font-size: 20pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000380}}
div.mission-statement div.header h3 {
  font-size: 16pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000382}}
div.mission-statement div.content {
  margin: 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  border-top: none;
  background-color: #d4d4d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000390}}
div.mission-statement div.header {
  background: url("../images/speckles.png") repeat scroll 0 0 rgba(210, 73, 42, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000392}}
div.mission-statement div.content {
  border-right: 2px solid rgba(213, 99, 68, 0.4);
  border-left: 2px solid rgba(213, 99, 68, 0.4);
  border-bottom: 2px solid rgba(213, 99, 68, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003225}}
div.mission-statement div.content p {
  padding: 7px 5px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003228}}
ul {
  list-style: circle inside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003230}}
ul li {
  margin-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003233}}
#content {
  background-color: #425262;
  padding-right: 0px;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003237}}
#content #inner-content {
  background-color: white;
  padding: 15px 30px 60px;
  color: #2a3642;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003245}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003249}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003261}}
h3.title {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003264}}
tr.even {
  /* background-color: #eee */ /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003267}}
tr.odd {
  /* background-color: #eee */ /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003270}}
div.messages {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003273}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003280}}
div.warning,
tr.warning {
  /* border: 1px solid #f0c020 */ /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003287}}
.error {
  /* color: #e55 */ /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003290}}
.warning {
  /* color: #e09010 */ /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003301}}
ul.inline {
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003305}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003310}}
span.field-label {
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003313}}
.item-list .pager {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003316}}
.item-list .pager li {
  padding: 0 0.5em;
}

/* Styles for static pages */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003327}}
div.program-page h2, div.program-page h3, div.program-page h4, div.program-page h5 {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003329}}
div.program-page h4 {
  font-size: 16pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003331}}
div.program-page div.title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003335}}
div.program-page div.title h2 {
  font-size: 24pt;
  color: #263f6a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003339}}
div.program-page div.banner {
  width: 794px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003342}}
div.program-page div.banner img {
  vertical-align: middle;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003346}}
div.program-page div.program-content {
  margin: 7px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003348}}
div.program-page div.program-content h4 {
  margin: 7px 0 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003350}}
div.program-page div.program-content p {
  margin: 7px 0;
}

/* First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003360}}
.sidebar-first .region-sidebar-first {
  padding: 15px 17px 60px;
  background-color: #b2b4b3;
  width: 18%;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -ms-border-radius: 0px 0px 7px 7px;
  -o-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
  border-bottom: solid 10px #d2492a;
  margin: 0px 1% 0px 1%;
}

/* Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* Footer
 */
/* Page bottom
 */
