/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* CASTEM specific custom mixins */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/trevor\/\.rvm\/gems\/ruby-1\.9\.3-p125\@castem-drupal\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000319}}
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000325}}
#page {
  max-width: 100%;
  margin: 6px 0 0;
  background: url("../images/containa.gif") repeat-y scroll center top #425262;
}

/* The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000335}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000338}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666666;
  color: white;
}

/* Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000352}}
#header {
  padding-right: 0px;
  padding-left: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000356}}
#masthead {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000360}}
#masthead-img {
  background: url(../images/trefnyBanner.jpg) no-repeat center top;
  height: 326px;
  margin: 0 auto;
  position: relative;
  width: 960px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000368}}
#mines-top-nav {
  background: url("../images/landing-top.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 85px;
  margin: -6px auto 0;
  overflow: hidden;
  padding: 15px 50px 0 65px;
  position: relative;
  width: 946px;
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000379}}
#mines-top-nav a.logo {
  z-index: 2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000382}}
#gh {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000384}}
#holder {
  margin: 0 auto;
  padding: 0;
  width: 1061px;
  z-index: 40;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000389}}
#landingIMG {
  background-position: center 0;
  background-repeat: no-repeat;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\0000398}}
.landingH .logo, .homeskiH .logo {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003101}}
#mines-menu {
  display: inline;
  float: right;
  color: #425262;
  font-size: 11px;
  width: 400px;
  padding-right: 15px;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003109}}
#mines-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 0 3px;
  display: inline;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003115}}
#mines-menu ul li {
  border-left: 1px solid #6b7b8b;
  display: inline;
  float: left;
  font-size: 10px;
  margin: 0;
  padding: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003123}}
#mines-menu ul li a {
  color: #6b7b8b !important;
  padding: 0;
  text-decoration: underline !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003128}}
#mines-menu ul .first {
  border: 0 none !important;
  padding-left: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003132}}
#mines-menu a {
  color: #b03514;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003135}}
#mines-menu .no-border {
  border: 0 none !important;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003140}}
#mines-menu span {
  display: block;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003144}}
.search-text {
  border: 1px solid #6b7b8b;
  color: #6b7b8b;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin: -2px 5px 0 3px;
  padding: 1px 3px;
  width: 94px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003153}}
.search-button {
  background-color: #6b7b8b;
  border: 0 none;
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin: -5px 0 0;
  padding: 1px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003163}}
#logo {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003168}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003172}}
#name-and-slogan {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003175}}
#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003180}}
#site-name a:link,
#site-name a:visited {
  color: black;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003186}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003191}}
#site-slogan {
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003195}}
.region-header {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003198}}
#header-navigation {
  z-index: 999;
  width: 100%;
  background-color: #333333;
  /* Superfish Overrides */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003204}}
#header-navigation #block-superfish-1 {
  width: 1047px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003208}}
#header-navigation .sf-menu {
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003210}}
#header-navigation .sf-menu li {
  height: 41px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003212}}
#header-navigation .sf-menu ul {
  position: relative;
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003215}}
#header-navigation .sf-menu ul li {
  height: 41px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003217}}
#header-navigation .sf-menu li:hover, #header-navigation .sf-menu li.sfHover, #header-navigation .sf-menu li.active a, #header-navigation .sf-menu a:focus, #header-navigation .sf-menu a:hover, #header-navigation .sf-menu a:active,
#header-navigation .sf-menu .sf-navbar li li, #header-navigation .sf-menu .sf-navbar li ul {
  background: none repeat scroll 0 0 #b03514;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003222}}
#header-navigation .sf-hidden {
  display: none;
}

/* Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003228}}
#main {
  width: 1047px;
  margin: 0 auto;
  padding: 0;
  background-color: #425262;
}

/* Content
 */
/* Front Page Content */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003239}}
div.mission-statement {
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000358}}
div.mission-statement div.header {
  background: url("../images/speckles.png") repeat scroll 0 0 rgba(176, 53, 20, 0.9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  height: 35px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000363}}
div.mission-statement div.header h2 {
  color: white;
  display: block;
  float: left;
  line-height: 1em;
  margin: 5px 0 0 3px;
  font-weight: bold;
  font-size: 20pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000371}}
div.mission-statement div.content {
  margin: 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  border: 2px solid rgba(213, 99, 68, 0.4);
  border-top: none;
  background-color: #d4d4d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003242}}
div.mission-statement div.content p {
  padding: 7px 5px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003245}}
ul {
  list-style: circle inside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003247}}
ul li {
  margin-left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003250}}
#content {
  background-color: #425262;
  padding-right: 0px;
  padding-left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003254}}
#content #inner-content {
  background-color: white;
  padding: 15px 30px 60px;
  color: #2a3642;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003262}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003266}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003278}}
h3.title {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003281}}
tr.even {
  /* background-color: #eee */ /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003284}}
tr.odd {
  /* background-color: #eee */ /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003287}}
div.messages {
  margin: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003290}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003297}}
div.warning,
tr.warning {
  /* border: 1px solid #f0c020 */ /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003304}}
.error {
  /* color: #e55 */ /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003307}}
.warning {
  /* color: #e09010 */ /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003318}}
ul.inline {
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003322}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003327}}
span.field-label {
  padding: 0 1em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003330}}
.item-list .pager {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003333}}
.item-list .pager li {
  padding: 0 0.5em;
}

/* First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/pages\.sass}line{font-family:\00003348}}
.sidebar-first .region-sidebar-first {
  padding: 15px 17px 60px;
  background-color: #d4d4d5;
  width: 18%;
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  -ms-border-radius: 0px 0px 7px 7px;
  -o-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
  border-bottom: solid 10px #b03514;
  margin: 0px 1% 0px 1%;
}

/* Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/* Footer
 */
/* Page bottom
 */
