/*
 * @file
 * Views Styling
 */
/* CASTEM specific custom mixins */
/* Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000319}}
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000323}}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000328}}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000330}}
.views-displays .secondary .open > a:hover {
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000333}}
.views-displays .secondary .action-list li {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000335}}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000338}}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* Fellow list styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000343}}
div.view-fellows div.views-row-odd {
  background: #d4d4d5;
  border-right: #425262 2px solid;
  border-left: #425262 2px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000347}}
div.view-fellows div.views-row-odd div.img {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000349}}
div.view-fellows div.views-row-odd div.img img {
  border-right: #333333 2px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000351}}
div.view-fellows div.views-row-odd div.content {
  float: left;
  text-align: left;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000355}}
div.view-fellows div.views-row-odd div.content h2.name {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000357}}
div.view-fellows div.views-row-odd div.content h2.name a {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000359}}
div.view-fellows div.views-row-even {
  background: #425262;
  color: white;
  border-right: #425262 2px solid;
  border-left: #425262 2px solid;
  border-top: #333333 2px solid;
  border-bottom: #333333 2px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000366}}
div.view-fellows div.views-row-even div.img {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000368}}
div.view-fellows div.views-row-even div.img img {
  border-left: #333333 2px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000370}}
div.view-fellows div.views-row-even div.content {
  float: right;
  text-align: right;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000374}}
div.view-fellows div.views-row-even div.content h2.name {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000376}}
div.view-fellows div.views-row-even div.content h2.name a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000378}}
div.view-fellows div.views-row-first {
  border-top: #425262 2px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000380}}
div.view-fellows div.views-row-last {
  border-bottom: #425262 2px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000383}}
div.fellow div.img {
  overflow: hidden;
  height: 165px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000386}}
div.fellow div.content {
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000388}}
div.fellow div.content h2.name {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000394}}
div.fellow div.content h2.name a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\0000396}}
div.fellow div.content h2.name a:hover {
  text-decoration: underline;
}

/* News view styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003100}}
div.clear {
  clear: both;
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003104}}
div.view-news div.views-row {
  margin-top: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003106}}
div.views-row-first {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000367}}
div.news-item div.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  height: 35px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000371}}
div.news-item div.header h2, div.news-item div.header h3 {
  color: white;
  display: block;
  float: left;
  line-height: 1em;
  margin: 5px 0 0 3px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000378}}
div.news-item div.header h2 {
  font-size: 20pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000380}}
div.news-item div.header h3 {
  font-size: 16pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000382}}
div.news-item div.content {
  margin: 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  border-top: none;
  background-color: #d4d4d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000390}}
div.news-item div.header {
  background: url("../images/speckles.png") repeat scroll 0 0 rgba(210, 73, 42, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000392}}
div.news-item div.content {
  border-right: 2px solid rgba(213, 99, 68, 0.4);
  border-left: 2px solid rgba(213, 99, 68, 0.4);
  border-bottom: 2px solid rgba(213, 99, 68, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003111}}
div.news-item div.header h2 a {
  color: white;
  text-decoration: none;
  font-size: 18pt;
  position: relative;
  bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003117}}
div.news-item div.header h2 a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003120}}
div.news-item div.content div.inner-content {
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003122}}
div.news-item div.content div.inner-content div.news-image {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003124}}
div.news-item div.content div.inner-content div.news-image img {
  border: #425262 1px solid;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003128}}
div.news-item div.content div.inner-content div.news-body p {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003130}}
div.news-item span.created-by {
  float: left;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003133}}
div.news-item span.created-on {
  float: right;
  margin-top: 5px;
}

/* User Profile */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003139}}
div#user-profile div.user-header {
  float: left;
  background: #b2b4b3;
  width: 100%;
  height: 169px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003145}}
div#user-profile div.user-header div#user-picture {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003147}}
div#user-profile div.user-header div#user-picture img {
  border: #b03514 2px solid;
  -webkit-border-radius: 7px 5px 5px 7px;
  -moz-border-radius: 7px 5px 5px 7px;
  -ms-border-radius: 7px 5px 5px 7px;
  -o-border-radius: 7px 5px 5px 7px;
  border-radius: 7px 5px 5px 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003150}}
div#user-profile div.user-header div.header-content {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003152}}
div#user-profile div.user-header div.header-content span, div#user-profile div.user-header div.header-content h2 {
  display: block;
  padding: 5px 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003155}}
div#user-profile div.user-header div.header-content h2 {
  padding-top: 7px;
  font-size: 26pt;
  color: #21314d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003159}}
div#user-profile div.edit-user {
  float: right;
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003163}}
div#user-profile div.edit-user a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003169}}
div#user-profile div.content div#user-bio {
  margin-top: 15px;
  width: 68%;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003173}}
div#user-profile div.content div#user-bio p {
  padding-bottom: 11px;
  text-align: justify;
}

/* Lesson Plans */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003178}}
aside#lesson-plans {
  display: inline-block;
  width: 30%;
  margin-left: 2%;
  float: right;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000367}}
aside#lesson-plans div.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  height: 35px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000371}}
aside#lesson-plans div.header h2, aside#lesson-plans div.header h3 {
  color: white;
  display: block;
  float: left;
  line-height: 1em;
  margin: 5px 0 0 3px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000378}}
aside#lesson-plans div.header h2 {
  font-size: 20pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000380}}
aside#lesson-plans div.header h3 {
  font-size: 16pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000382}}
aside#lesson-plans div.content {
  margin: 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  border-top: none;
  background-color: #d4d4d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000399}}
aside#lesson-plans div.header {
  background: url("../images/swirls.png") repeat scroll 0 0 rgba(38, 63, 106, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\00003101}}
aside#lesson-plans div.content {
  border-right: 2px solid rgba(38, 63, 106, 0.4);
  border-left: 2px solid rgba(38, 63, 106, 0.4);
  border-bottom: 2px solid rgba(38, 63, 106, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003185}}
aside#lesson-plans div.header {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003187}}
aside#lesson-plans div.header h3 {
  margin-left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003189}}
aside#lesson-plans div.header a.add-lesson {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003191}}
aside#lesson-plans div.header a.add-lesson img {
  position: relative;
  top: 8px;
  right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003195}}
aside#lesson-plans p.no-lessons {
  padding: 5px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003198}}
aside#lesson-plans div.lesson {
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003200}}
aside#lesson-plans div.lesson h4 {
  margin-bottom: 2px;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003203}}
aside#lesson-plans div.lesson h4.created-at {
  float: right;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003206}}
aside#lesson-plans div.lesson p.lesson-description {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003208}}
aside#lesson-plans div.lesson span.download-lesson {
  margin-top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003210}}
aside#lesson-plans div.lesson span.download-lesson a {
  text-decoration: none;
  color: #d2492a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003213}}
aside#lesson-plans div.lesson span.download-lesson a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003215}}
aside#lesson-plans div.lesson span.download-lesson a img {
  position: relative;
  top: 1px;
}

/* Lesson Plan List */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003221}}
div.view-filters div.form-item {
  float: left;
  margin: 3px 5px 0px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003224}}
div.view-filters div.views-submit-button {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003226}}
div.views-buttons {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003228}}
div.views-buttons div.views-submit-button, div.views-buttons div.views-reset-button {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  bottom: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003234}}
div.views-buttons div.views-submit-button input, div.views-buttons div.views-reset-button input {
  padding: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003238}}
div.view-lesson-plans div.views-row {
  border-top: 1px #21314d solid;
  border-left: 1px #21314d solid;
  border-right: 1px #21314d solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003242}}
div.view-lesson-plans div.views-row-odd {
  background-color: #b2b4b3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003244}}
div.view-lesson-plans div.views-row-odd h2.lesson-title a {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003246}}
div.view-lesson-plans div.views-row-even {
  background-color: #8b8d8e;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003249}}
div.view-lesson-plans div.views-row-even h2.lesson-title a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003251}}
div.view-lesson-plans div.views-row-last {
  border-bottom: 1px #21314d solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003256}}
div.lesson-plan-listing div.header {
  padding: 4px 4px 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003258}}
div.lesson-plan-listing div.header h2.lesson-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003263}}
div.lesson-plan-listing div.header h2.lesson-title a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003265}}
div.lesson-plan-listing div.header h2.lesson-title a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003267}}
div.lesson-plan-listing div.header span.grade-levels {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003269}}
div.lesson-plan-listing div.header span.grade-levels a {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-color: #d2492a;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  text-align: center;
  width: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003278}}
div.lesson-plan-listing div.header span.grade-levels a:hover {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003280}}
div.lesson-plan-listing p.description {
  padding: 2px 4px 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003282}}
div.lesson-plan-listing div.footer {
  padding: 2px 4px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003284}}
div.lesson-plan-listing div.footer span.date {
  float: right;
}

/* Lesson Plan Template */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003289}}
div.title {
  text-align: center;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003292}}
div.title h2 {
  font-size: 30pt;
  font-weight: bold;
  color: #21314d;
  margin-bottom: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003297}}
article.lesson-plan {
  width: 74%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003300}}
article.lesson-plan div.field-name-field-summary {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003302}}
article.lesson-plan div.field-name-field-summary div.field-label {
  color: #d2492a;
  font-style: italic;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003307}}
article.lesson-plan span.submitted span {
  vertical-align: top;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003310}}
article.lesson-plan span.submitted span.user-picture {
  margin-right: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003312}}
article.lesson-plan span.submitted span.user-picture img {
  width: 50px;
  border: 1px #d2492a solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003315}}
div.lesson-plan-file {
  width: 24%;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000367}}
div.lesson-plan-file div.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 3px 0 inset, rgba(0, 0, 0, 0.3) 0 1px 3px 0;
  height: 35px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000371}}
div.lesson-plan-file div.header h2, div.lesson-plan-file div.header h3 {
  color: white;
  display: block;
  float: left;
  line-height: 1em;
  margin: 5px 0 0 3px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000378}}
div.lesson-plan-file div.header h2 {
  font-size: 20pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000380}}
div.lesson-plan-file div.header h3 {
  font-size: 16pt;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000382}}
div.lesson-plan-file div.content {
  margin: 0 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px;
  border-top: none;
  background-color: #d4d4d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\0000399}}
div.lesson-plan-file div.header {
  background: url("../images/swirls.png") repeat scroll 0 0 rgba(38, 63, 106, 0.9);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/_custom\.sass}line{font-family:\00003101}}
div.lesson-plan-file div.content {
  border-right: 2px solid rgba(38, 63, 106, 0.4);
  border-left: 2px solid rgba(38, 63, 106, 0.4);
  border-bottom: 2px solid rgba(38, 63, 106, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003319}}
div.lesson-plan-file div.field {
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003321}}
div.lesson-plan-file div.field-name-field-lesson-plan-file {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003324}}
div.lesson-plan-file div.field-name-field-grade-level div.field-item {
  float: left;
  margin-right: 4px;
  margin-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/castem\/sites\/all\/themes\/castem\/sass\/views-styles\.sass}line{font-family:\00003328}}
div.lesson-plan-file div.clear {
  margin-bottom: 10px;
}
